<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:bitly:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div class='editer-groupe'>
			[(#SAISIE{input, apikey,
				label=<:bitly:cfg_apikey:>,
				explication=<:bitly:cfg_apikey_explication:>})]
		</div>

		<input type="hidden" name="_meta_casier" value="bitly" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>